/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
   
     /* font-families */
   --heading-font: "Playfair Display", serif;
   --body-font: 'Montserrat', sans-serif;

    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 2.5rem;
  --fs-700: 1.75rem;
  --fs-600: 1.25rem;
  --fs-500: 1.05rem;
  --fs-400: 1rem;
  --fs-300: 0.95rem;
  --fs-200: 0.875rem;
    
   
    /* Main Colors */
  --orange-primary-color: 16 100% 60%;
  --orange-secondary-color: 25 76% 31%;   /* #8B4513 */
  --dark-text: 210 29% 15%;                 /* #2c3e50 */
  --light-text: 0 0% 96%;                   /* #f4f4f4 */
  --blue-1-color: 180 57% 45%;             /* #32b4b4 */
}



@media (max-width: 45em) {
  :root {
    --fs-800: 2rem;
    --fs-700: 1.5rem;
    --fs-600: 1.125rem;
    --fs-500: 1rem;
    --fs-400: 0.95rem;
  }
}
.body{
  background-color: var(--light-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* NAV */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: transparent;
  transition: background 0.4s ease, box-shadow 0.4s ease, padding 0.3s ease;
  padding: 15px 20px;
  font-family: var(--body-font);
}

header:hover {
  background: #fff;
}

header:hover nav ul li a {
  color: hsl(var(--orange-primary-color) / 0.8);
}

header:hover nav ul li.active a {
  border-bottom: 2px solid hsl(var(--orange-primary-color) / 0.8);
}

.navigation {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

nav ul li a {
  text-decoration: none;
  font-size: var(--fs-200);
  letter-spacing: 1px;
  color: #fff;
  padding-bottom: 6px;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;
}

nav ul li.active a {
  border-bottom: 2px solid hsl(var(--orange-primary-color));
}

nav ul li a:hover {
  color: hsl(var(--orange-primary-color));
  transform: scale(1.1);
  letter-spacing: 1.5px;
}

.logo img {
  height: 60px;
  width: 60px;
}


/* HERO */
.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.hero video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* TEXT ON VIDEO OR IMAGE */
.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--heading-font);
}
.hero-content h1{
  font-size: var(--fs-900);
  margin-bottom: 20px;
  font-weight: lighter;
}
.hero-content p{
  font-size: var(--fs-600);
}
.home-page .hero-content h1:hover{
  -webkit-text-stroke: 2px white;
   color: transparent;
}
/* BUTTON */
.btn {
  font-family: var(--body-font);
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: #C96A4A;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}
.btn:hover {
  background: hsl(var(--orange-primary-color));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}


/* Styling for The Hotel Section */
.The-Hotel {
  background-color: hsl(var(--orange-primary-color)/.8);
  
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px; /* Space between the elements */
  padding: 4%;
  align-items: center; /* Vertically centers the text relative to the tall images */
}
.hotel-image img {
  width: 100%;
  /* Set a fixed aspect ratio or height to make them long */
  height: 700px; 
  object-fit: cover; /* Prevents the image from stretching */
  border-radius: 20px; /* To match the rounded look in your ref */
}
.hotel-body {
  color: hsl(var(--light-text));
  padding: 20px;
  display: grid;
}
.hotel-body h2 {
  font-family: var(--heading-font);
  font-size: var(--fs-800);
  margin-bottom: 20px;
}
.hotel-body p {
  font-family: var(--body-font);
  font-size: var(--fs-500);
  line-height: 1.5rem;
}
.hotel-body .room-btn{
  color: hsl(var(--light-text));
  border-color: hsl(var(--light-text));
}
.hotel-body .room-btn:hover{
  border: none;
  background: hsl(var(--orange-primary-color));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 60em) {
    .The-Hotel {
        grid-template-columns: 1fr;
    }
  .hotel-body p {
  font-size: var(--fs-400);
}
  }
/* REUSABLE ANIMATION CLASS FOR TEXT */
.autoShow
{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}
@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* REUSABLE ANIMATION CLASS  FOR IMAGES*/
.scroll-reveal {
  /* 1. Set up the individual timeline for the element */
  view-timeline-name: --element-reveal;
  view-timeline-axis: block;

  /* 2. Initial state (Hidden/Small) */
  opacity: 0;
  transform: scale(0.8);
  
  /* 3. Link the animation */
  animation: reveal-grow linear forwards;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
  
  /* 4. Define when it happens (entry into viewport) 
  animation-range: entry 10% entry 60%; */
}

@keyframes reveal-grow {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(0.9);
  }
}


/* Home page Activities Section */
.h-activities {
  font-family: var(--body-font);
  padding: 8rem 2rem;
  background-color: hsl(var(--orange-primary-color)/0.8);
  text-align: center;
}

.h-activities h2 {
  font-family: var(--heading-font);
  font-size: var(--fs-800);
  margin-bottom: 50px;
  color: hsl(var(--light-text));
}

.h-activities-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.h-activity-card {
  display: block;
  background: hsl(var(--light-text));
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scale: 1.1;
}

.h-activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.h-activity-card img.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.h-activity-card .h-card-content {
  padding: 1rem;
  text-align: left;
}

.h-activity-card h3 {
  font-family: var(--body-font);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: hsl(var(--dark-text));
}

.h-activity-card p {
  font-family: var(--body-font);
  font-size: var(--fs-200);
  color: hsl(var(--dark-text)/0.8);
  line-height: 1.4;
 
}
/* Featured packages and footor */

.featured-packages {
   
    height: auto;
    text-align: center;
    padding: 8rem 2rem;
    font-family: var(--body-font);
    margin: 5% 0;
}

.featured-packages h2 {
    font-family: var(--heading-font);
    margin-bottom: 50px;
    color: hsl(var(--dark-text)/0.9);
    font-size: var(--fs-800);
}

.featured-package-container {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-package-card {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: flex-end;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: #ffffff;
}

.featured-package-card .card-img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-package-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.featured-package-card .card-content{
    position: relative;
    padding: 15px;
    z-index: 2;
}

.featured-package-card h3 {
    font-size: var(--fs-400);
    margin-bottom: 0 0 6px;
    font-family: var(--body-font);
}

.featured-package-card p {
    font-weight: lighter;
    margin: 0;
    font-size: var(--fs-200);
    line-height: 1.4;
}


.featured-package-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.35);
}



@media (min-width: 45em) {
  .featured-packages {
      padding: 60px 10px;
  }
    .featured-package-container {
        flex-direction: row;
        align-items: center;
    }
}
@media (max-width: 45em) {
    .featured-package-container {
        flex-direction: column;
        align-items: center;
    }
}
/* Rooms Page */


.rooms-wrapper {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

.room-row {
  scroll-snap-align: center;
  flex-shrink: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 5%;
}

.room-row.reverse {
  flex-direction: row-reverse;
}
.container {
    padding: 2rem;
}
.room-carousel {
  flex: 0 0 65%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease;
}

.carousel-track img {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  object-fit: cover;
  flex-shrink: 0;
}
.carousel-nav{
   width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: hsl(var(--light-text));
    opacity: 0.75;
    transition: opacity 0.25s ease;
}
.room-details {
  flex: 0 0 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

.room-details h2 {
  font-family: var(--heading-font);
  font-size: 2.4rem;
  margin-bottom: 20px;
  color: hsl(var(--orange-secondary-color));
}

.room-meta {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: var(--fs-200);
  color: hsl(var(--orange-secondary-color));
  margin-bottom: 15px;
}

.room-details p {
  font-family: var(--body-font);
  line-height: 1.8;
  color: hsl(var(--orange-secondary-color));
  margin-bottom: 15px;
}

.room-details ul {
  font-family: var(--body-font);
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
  color: hsl(var(--orange-secondary-color));
}

.room-btn {
  width: fit-content;
  border-radius: 30px;
  margin-top: 20px;
  font-family: var(--body-font);
  padding: 14px 28px;
  border: 1px solid hsl(var(--orange-secondary-color));
  text-decoration: none;
  color: hsl(var(--orange-secondary-color));
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.room-btn:hover {
  background: hsl(var(--orange-secondary-color));
  color: #fff;
}

.room-details span{
  color: hsl(var(--orange-secondary-color));
  font-family: var(--body-font);
  font-weight: 600;
}
footer {
  border-top: 1px solid hsl(var(--light-text)/0.8);
  text-align: center;
  padding: 30px 0;
  background-color: hsl(var(--orange-primary-color)/0.8);                                                                  /*footer*/
  color: hsl(var(--light-text)/0.8);
  font-size: var(--fs-400);
  font-family: var(--body-font);
  
  transition: color 0.3s ease, transform 0.3s ease;
}
footer a {
  text-decoration: none;
  color: inherit; 
  cursor: pointer;
}
footer a:hover {
  color: hsl(var(--light-text));
  transform: scale(1.1);
}
@media (max-width: 1200px) {

  .room-row {
    flex-direction: row;
    height: 100vh;
    padding: 40px 20px;
  }
  .room-carousel,
  .room-details {
    flex: 1 1 100%;
    height: auto;
  }

  .carousel-track img {
    height: auto;
  }

  .room-details {
    text-align: center;
    padding: 20px 0;
  }
  
}


.room-row {
  scroll-snap-align: center;
  flex-shrink: 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 5%;
}

.rooms-wrapper {
  padding-bottom: 80px;
}

.room-row {
  padding: 50px 5%;
}

.room-carousel,
.carousel-track img {
  border-radius: 40px;
}


/*ROOMS END*/

/* Packages Page */


/*Packages page styles*/
/* grids*/
.package-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  padding: 30px 60px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .package-grid {
    padding: 20px 40px; 
  }
}

/* tablets*/
@media (max-width: 1024px){
  .package-grid {
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      gap: 30px;
max-width: 880px;
margin: 0 auto;

  }
  .package-card{
    max-width:none;
    width: 100%
  }
}

/* phones*/
@media (max-width: 780px) {
  .package-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }
  .package-card{
    width: 100%;
  }
}

.packages-heading{
  text-align: center;
  font-family: var(--heading-font);
  font-size: var(--fs-800);
  color: hsl(var(--dark-text));
  margin: 80px 0 40px 0;
}
.package-card {
  width: 80%;
  max-width: 60rem;
  background-color: hsl(var(--light-text));
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  margin: 0 auto;
}
.package-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}
.package-card img {
  width:100%;
  height: 260px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition: transform 0.5s ease;
}
.package-card:hover img{
  transform: translateY(-5px);
}
.package-content {
  padding: 1.8rem;
  color: hsl(var(--orange-secondary-color));
  background-color: #f9f9f9;
}
.package-content h3 {
  font-family: var(--heading-font);
  font-size: var(--fs-600);
  margin-bottom: 0.5rem;
  line-height: 0.9;
  margin-bottom: 5%;
}
.package-content p {
  font-family: var(--body-font);
  font-size: var(--fs-400);
  margin-bottom: 1rem;
}
.package-features {
  list-style: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
.package-features li {
  font-family: var(--body-font);
  margin-bottom: 0.3rem;
}
.price-row {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.price {
  font-family: var(--body-font);
  font-size: var(--fs-400);
  font-weight: bold;
  color: hsl(var(--orange-secondary-color));
}
.package-btn {
  font-family: var(--body-font);
  display: inline-block;
  padding: 12px 25px;
  background-color:hsl(var(--orange-secondary-color));
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: relative;
}
.package-btn:hover{
  background-color:hsl(var(--orange-secondary-color));
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}
/* Promo banner*/
.promo-banner {
  width:90%;
  overflow: hidden;
  max-width: 1200;
  margin: 10% auto;
  overflow: hidden;
  border-radius: 20px;
  padding: 0 20px;
}
.promo-image {
  position:relative;
  width: 100%;
  height: 400px;
}
.promo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 20px;
}
.promo-image:hover img {
  transform: scale(1.1);
}
.promo-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: hsl(var(--light-text));
  font-family: var(--body-font);
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.promo-text h2 {
font-size: 36px;
margin-bottom: 10px;
}
.promo-text p {
  font-size: 18px;
  margin-bottom: 15%;
}
.promo-btn {
  display: inline-block;
  padding: 12px, 28px;
  background-color: hsl(var(--orange-primary-color));
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 40px;
  min-width: 220px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.promo-btn:hover {
  background-color: hsl(var(--orange-primary-color));
  transform: scale(1.05);
}
@media(max-width: 1024px)
{
  .promo-image{
    height:300px;
  }
  .promo-text h2{
font-size: 28px;
  }
  .promo-text p {
    font-size: 16px;
  }
  .promo-btn{
    padding: 10px 25px;
    font-size: 14px;
  }
}
@media(max-width: 780px)
{
  .promo-image{
    height:200px;
  }
  .promo-text h2{
 font-size: 22px;
  }
  .promo-text p{
    font-size: 14px;
  }
  .promo-btn{
    padding: 8px 20px;
    font-size: 12px;
  }
}

/* Experiences Page */
.experiences-page {
    background-color: hsl(var(--light-text));
    font-family: var(--body-font);
    color: hsl(var(--dark-text));
}

/* Content Section */
.content-section {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 2rem;
    text-align: center;
}

.content-section h2 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: var(--fs-800);
    margin-bottom: 1rem;
    color: hsl(var(--dark-text));
}

.content-section p {
    font-family: var(--body-font);
    font-size: var(--fs-500);
    line-height: 2;
    color: hsl(var(--dark-text));
    max-width: 850px;
    margin: 2rem auto 3rem auto;
    text-align: center;
}

/* Slider Section */
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 68rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.slider::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}

.slider img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    border-radius: 15px;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: hsl(var(--light-text));
    opacity: 0.75;
    transition: opacity 0.25s ease;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Activities Section */
.activities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 3rem 2rem;
    margin: 0 5%;
}

.activities {
    display: grid;
    align-items: center;
    
    cursor: pointer;
    width: 100%;
    position: relative;
}

.activities img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.activities:hover img {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.activities .desc {
    text-align: center;
    padding: 35px 0 35px 0;
    font-size: var(--fs-400);
    color: #4b3f36;
    transition: transform 0.3s ease;
}

.activities:hover .desc {
    transform: translateY(-5px);
}

/* Responsive Design */
@media(max-width: 992px) {
    .activities-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.8rem;
    }
    .activities img {
        height: 300px;
    }
    .content-section p {
    font-size: var(--fs-400);
}

}

@media(max-width: 768px) {
    .activities-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 2rem 1rem;
    }
    .activities img {
        height: 250px;
    }
    .content-section p {
    font-size: var(--fs-400);
    }
}


/* Contact Page */
.contact-page
{
  background-color: hsl(var(--light-text));
}

.contact{
    position: relative;
    min-height: 100vh;
    padding:50px 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto;   
    grid-template-areas:
        "content"   
        "container";    
    gap: 40px;
    align-items: center;
}

.contact .content{
  grid-area: content;
    max-width: 800px;
    font-family: var(--heading-font);
    justify-self: center;
}
.contact .content h1{
    font-size: 50px;
    font-weight: 500;
    color: hsl(var(--dark-text)) ;
}
.contact .content p{
    font-weight: 300;
    color: hsl(var(--dark-text)) ;
}
.container{
   grid-area: container;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: auto;
    display: grid;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    color: var(--dark-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
  font-family: var(--body-font);
    display: flex;
    margin-left: 20px;
    font-size: var(--fs-300);
    color: hsl(var(--dark-text));
    flex-direction: column;
    text-wrap: balance;
}

.contact .contactInfo .box .text h3{
  font-family: var(--heading-font);
    font-size: var(--fs-500);
    color: hsl(var(--orange-secondary-color));
}
.contactform{
    width: 40%;
    padding: 40px;
    background:#a2b3c2;
    border-radius: 30px;
    font-family: var(--heading-font);
}

.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
}

.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: transparent;
}

.contactform .inputBox span{
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transition: 0.3s;
}

.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~ span{
    top: -15px;
    font-size: 12px;
    color: #333;
}

.contactform .inputBox input[type="submit"]{
    width: 30%;
    background: #ffffff;
    border-radius: 30px;
    padding: 12px 0;
    font-size: var(--fs-200);
    font-weight: 500;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease;
}

.contactform .inputBox input[type="submit"]:hover{
    background: #333;
    color: #fff;
}

.booking-page{
   background-color: hsl(var(--orange-primary-color)/.8);
   padding: 5%;
   display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;   
    grid-template-areas:
        "book  right-text"   
        "left-text  map";    
    gap: 40px;
    align-items: center;
  }
  @media (max-width: 62em)
  {
    .contact
    {
      display: grid;
      grid-template-columns: 1fr;
    }
    .booking-page
    {
      grid-template-columns: 1fr; 
       grid-template-rows: auto; 
      grid-template-areas:
        "book"  
        "right-text"   
        "left-text"
        "map";  
    }
  }
  @media (max-width: 35em)
  {
    .container .contactInfo .box .icon
{
    display: none;
}
  }
.booking-box { 
    grid-area: book;
}
.booking-box h2{ 
  color: hsl(var(--orange-primary-color)/0.8); font-size:var(--fs-700); margin-bottom: 20px;   
}
.booking-box h5{ 
  color: hsl(var(--blue-1-color));  
}

.right-text { 
    grid-area: right-text; 
}

.left-text { 
    grid-area: left-text; 
}

.location { 
    grid-area: map; 
}
  .booking-page form label{
    color: hsl(var(--dark-text));
    font-size: var(--fs-300);
    font-family: var(--body-font);
  }
.booking-box {
    grid-area: book;
    width: 350px;
    background-color: #ffffff;
    justify-self: start;
    padding: 30px 50px 35px 20px;
    color: #fbf8f8;
    border-radius: 30px;
    font-family: var(--heading-font);
}
.booking-page input,
.booking-box select {
    border-radius: 30px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: hsl(var(--light-text));
    border: none;
    color: hsl(var(--dark-text)/0.6);
}

.row {
    display: flex;
    gap: 10px;
}
.booking-box button{
    border-radius: 30px;
    width: 100%;
    padding: 14px;
    border: none;
    font-family: var(--body-font);
    transition: background-color 0.5s ease, transfrom 0.3s ease;
}
.booking-box button:hover {
    background-color: hsl(var(--orange-primary-color));
}

.booking-page .location{
   grid-area: map;
   display: flex;
   gap: 60px;
   align-items: center;
   overflow: hidden;
}
.location img{
  max-width: 100%;
  height: 70vh;
  border-radius: 30px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.location img:hover{
 transform: scale(1.1);
}
.right-text
{
  justify-self: center;
  font-family: var(--heading-font);
  color: hsl(var(--light-text));
  font-size: var(--fs-800);
}
.left-text
{
  justify-self: center;
  font-family: var(--heading-font);
  color: hsl(var(--light-text));
  font-size: var(--fs-800);
}
